<div class="alert alert-info" *ngIf="cartItems.length == 0">Your Cart is Empty.</div>
<ul class="list-group" *ngIf="cartItems.length != 0">
  <li class="list-group-item" *ngFor="let cartItem of cartItems">
    <app-cart-item [cartItem]="cartItem"></app-cart-item>
  </li>
  <li class="list-group-item">
    <button class="btn bnt-outline-dark">
      Total Payment: <strong>{{ TotalPrice | currency}}</strong>
    </button>
  </li>
</ul>

<ul class="list-group mt-2" *ngIf="cartItems.length!=0">
  <li class="list-group-item">
    <a class="btn btn-outline-dark w-100" (click)="addOrder()"><strong class="text-uppercase">Buy Now</strong></a>
  </li>
</ul>