@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body{
  font-family: "Abhaya Libre";
}

.cart-item{
    font-size: medium;
}
.cart-item-remove{
    font-size: x-small;
}
.hero1 {
  min-height: 30vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-height: 37vh;
}

.hero1 h1 {
  font-family: 'Bungee Inline', cursive;
}
.text-white {
  color: #fff !important;
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 180px;
    height: 320px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    background-image: url('https://mcdn.coolmate.me/image/July2021/homepage2-175_(1).jpg');
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

.bg-blue{
    background-color: #e0eeea;
    background-image: url(https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}

.showSnackbar{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    font-weight: b;
}
.maincontent {
  border: double medium #e5e3d6;
  border-top: 0;
  margin: 0 30px;
  padding: 80px 0;
  overflow: hidden;
}


.text-dark {
  color: #000000!important;
  font-size: 1rem;
  font-family: 'Bungee Inline', cursive;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header{
  font-family: 'Bungee Inline', cursive;
}

.product__widget__text i {
  display: inline-block;
  height: 37px;
  width: 37px;
  background: #f2f2f2;
  font-size: 16px;
  color: #111111;
  line-height: 37px;
  text-align: center;
  margin-right: 20px;
}
.product__widget__text p {
  margin-bottom: 0;
  color: #111111;
  display: inline-block;
}

.header__menu img {
  top: -6px;
  position: relative;
}

.carousel-inner > .carousel-item {
   height: 50vh;
  }

  .hero__text h2 {
    color: #111111;
    font-size: 43px;
    line-height: 60px;
    margin-bottom: 28px;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
}
.hero__text p{
   font-size: 16px;
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 12px;
    position: relative;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
}
